/* app component */
.App {
  text-align: center;
  background: url('./components/layout/bg.jpg') center center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 757px;
  color: #fff;
  padding: 70px 0 20px;
  height : 100vh;
  
}

.list-group li {
  background-color: #ffffff33 !important;
}

/* header component */
.headerContainer {
  margin-bottom: 50px;
}

/* weather wrapper component */
.wrapper {
  position: relative;
}
/* weather data component */
.dataBadge {
  margin-bottom: 0;
  padding: 10px 15px;
}

@media only screen and (max-width: 600px) {
  .headerContainer {
    margin-bottom: 0px;
  }

  .headerContainer h1 {
    font-size: 40px;
  }
  .headerContainer p {
    font-size: 14px;
  }
  .wrapper button {
    font-size: 17px;
  }
  .wrapper .user-weather {
    margin: 20px 0;
  }
  .wrapper .user-weather li {
    padding: 13px 10px;
  }
  .wrapper .weather-list {
    padding: 13px 10px;
  }
}

@media only screen and (max-width: 800px) {
  .wrapper .user-weather {
    margin: 20px 0;
  }
}

@media only screen and (max-width: 600px) {
  .App {
    height : auto;
  }
}
