/* app component */
.App {
  text-align: center;
  background: url('./components/layout/bg.jpg') center center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 757px;
  color: #fff;
  padding: 40px 0;
}

.list-group li {
  background-color: #ffffff33 !important;
}
/* app component */

/* header component */
.headerContainer {
  margin-bottom: 50px;
}
/* header component */

/* weather wrapper component */
.wrapper {
  position: relative;
  top: 50px;
}
/* weather wrapper component */

/* weather data component */
.dataBadge {
  margin-bottom: 0;
  padding: 10px 15px;
}
/* weather data component */
